body{
  font-family: 'Arvo', serif;
}
header{
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
header h1 a {
    color: #000000;
    text-decoration: none;
}
header nav ul {
    list-style: none;
    padding: 0px;
}
header nav ul li {
  display: inline;
  padding: 0px 5px;
}
header nav ul li a {
  color: #888888;
  font-size: 14px;
  text-decoration: none;
}
header .avatar{
  border-radius: 50px;
}
header .site-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #565656;
  line-height: 23.68px;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}
article{
  max-width: 720px;
  padding: 20px;
  margin: 0px auto;
}
article .content{
  color: #787878;
  font-size: 18px;
  line-height: 26px;
}
article .content p{
  margin-bottom: 1.5em;
}